src/test/resources/cahschema.dtd

<!ELEMENT dataset (
        Configuration*,
        Game*,
        Lang*,
        Player*,
        Room*,
        Tag*,
        Users*,
        Dictionary*,
        Card*,
        Round*,
        Game_black_cards_deck*,
        Game_white_cards_deck*,
        Player_Hand_Card*,
        Played_card*,
        Voted_card*)>

        <!ELEMENT Configuration EMPTY>
        <!ATTLIST Configuration
                CONF_KEY CDATA #REQUIRED
                CONF_VALUE CDATA #REQUIRED
                >

        <!ELEMENT Game EMPTY>
        <!ATTLIST Game
                ID CDATA #IMPLIED
                ROOM_ID CDATA #REQUIRED
                CREATOR_ID CDATA #REQUIRED
                STATUS CDATA #REQUIRED
                VOTATION_MODE CDATA #REQUIRED
                PUNCTUATION_MODE CDATA #REQUIRED
                NUMBER_OF_POINTS_TO_WIN CDATA #REQUIRED
                NUMBER_OF_ROUNDS_TO_END CDATA #REQUIRED
                MAX_NUMBER_OF_PLAYERS CDATA #REQUIRED
                DICTIONARY_ID CDATA #REQUIRED
                CREATION_DATE CDATA #REQUIRED
                >

        <!ELEMENT Lang EMPTY>
        <!ATTLIST Lang
                ID CDATA #REQUIRED
                NAME CDATA #REQUIRED
                >

        <!ELEMENT Player EMPTY>
        <!ATTLIST Player
                ID CDATA #REQUIRED
                JOIN_ORDER CDATA #REQUIRED
                GAME_ID CDATA #REQUIRED
                USER_ID CDATA #REQUIRED
                POINTS CDATA #REQUIRED
                CREATION_DATE CDATA #REQUIRED
                >

        <!ELEMENT Room EMPTY>
        <!ATTLIST Room
                ID CDATA #REQUIRED
                NAME CDATA #REQUIRED
                ACTIVE CDATA #REQUIRED
                CREATION_DATE CDATA #REQUIRED
                >

        <!ELEMENT Tag EMPTY>
        <!ATTLIST Tag
                ID CDATA #REQUIRED
                NAME CDATA #REQUIRED
                >

        <!ELEMENT Users EMPTY>
        <!ATTLIST Users
                ID CDATA #REQUIRED
                NAME CDATA #REQUIRED
                ACTIVE CDATA #REQUIRED
                LANG_ID CDATA #REQUIRED
                CREATION_DATE CDATA #REQUIRED
                >

        <!ELEMENT Dictionary EMPTY>
        <!ATTLIST Dictionary
                ID CDATA #REQUIRED
                NAME CDATA #REQUIRED
                SHARED CDATA #REQUIRED
                PUBLISHED CDATA #REQUIRED
                LANG_ID CDATA #REQUIRED
                CREATOR_ID CDATA #REQUIRED
                CREATION_DATE CDATA #REQUIRED
                >

        <!ELEMENT Card EMPTY>
        <!ATTLIST Card
                ID CDATA #REQUIRED
                TEXT CDATA #REQUIRED
                TYPE CDATA #REQUIRED
                DICTIONARY_ID CDATA #REQUIRED
                CREATION_DATE CDATA #REQUIRED
                >

        <!ELEMENT Round EMPTY>
        <!ATTLIST Round
                ID CDATA #REQUIRED
                GAME_ID CDATA #REQUIRED
                STATUS CDATA #REQUIRED
                ROUND_NUMBER CDATA #REQUIRED
                ROUND_BLACK_CARD_ID CDATA #REQUIRED
                ROUND_PRESIDENT_ID CDATA #IMPLIED
                CREATION_DATE CDATA #REQUIRED
                >

        <!ELEMENT Game_black_cards_deck EMPTY>
        <!ATTLIST Game_black_cards_deck
                GAME_ID CDATA #REQUIRED
                CARD_ID CDATA #REQUIRED
                >

        <!ELEMENT Game_white_cards_deck EMPTY>
        <!ATTLIST Game_white_cards_deck
                GAME_ID CDATA #REQUIRED
                CARD_ID CDATA #REQUIRED
                >

        <!ELEMENT Player_Hand_Card EMPTY>
        <!ATTLIST Player_Hand_Card
                PLAYER_ID CDATA #REQUIRED
                CARD_ID CDATA #REQUIRED
                >

        <!ELEMENT Played_card EMPTY>
        <!ATTLIST Played_card
                ROUND_ID CDATA #REQUIRED
                PLAYER_ID CDATA #REQUIRED
                CARD_ID CDATA #REQUIRED
                >

        <!ELEMENT Voted_card EMPTY>
        <!ATTLIST Voted_card
                ROUND_ID CDATA #REQUIRED
                PLAYER_ID CDATA #REQUIRED
                CARD_ID CDATA #REQUIRED
                >