src/test/resources/schema.dtd

<!ELEMENT dataset (
    T_CARD*,
    T_CONFIGURATION*,
    T_DICTIONARY*,
    T_GAME*,
    T_TABLE*,
    T_PLAYER*,
    T_ROOM*,
    T_USER*)>

<!ELEMENT T_CARD EMPTY>
<!ATTLIST T_CARD
    TYPE CDATA #REQUIRED
    DICTIONARY_ID CDATA #IMPLIED
    ID CDATA #REQUIRED
    TEXT CDATA #REQUIRED
>

<!ELEMENT T_CONFIGURATION EMPTY>
<!ATTLIST T_CONFIGURATION
    CONF_KEY CDATA #REQUIRED
    CONF_VALUE CDATA #REQUIRED
>

<!ELEMENT T_DICTIONARY EMPTY>
<!ATTLIST T_DICTIONARY
    PUBLISHED CDATA #REQUIRED
    SHARED CDATA #REQUIRED
    CREATOR_ID CDATA #IMPLIED
    ID CDATA #REQUIRED
    NAME CDATA #REQUIRED
>

<!ELEMENT T_GAME EMPTY>
<!ATTLIST T_GAME
    ID CDATA #IMPLIED
    ROOM_ID CDATA #REQUIRED
    CREATOR_ID CDATA #REQUIRED
    TYPE CDATA #REQUIRED
    PUNCTUATION_TYPE CDATA #REQUIRED
    STATUS CDATA #REQUIRED
    DICTIONARY_ID CDATA #REQUIRED
    N_CARDS_TO_WIN CDATA #REQUIRED
    N_OF_ROUNDS CDATA #REQUIRED
    N_PLAYERS CDATA #IMPLIED
>

<!ELEMENT T_TABLE EMPTY>
<!ATTLIST T_TABLE
    GAME_ID CDATA #REQUIRED
    STATUS CDATA #REQUIRED
    ROUND_NUMBER CDATA #REQUIRED
    BLACKCARD_ID CDATA #IMPLIED
    PRESIDENT_ID CDATA #IMPLIED
>

<!ELEMENT T_PLAYER EMPTY>
<!ATTLIST T_PLAYER
    ID CDATA #REQUIRED
    JOIN_ORDER CDATA #REQUIRED
    POINTS CDATA #IMPLIED
    GAME_ID CDATA #REQUIRED
    USER_ID CDATA #REQUIRED
>

<!ELEMENT T_ROOM EMPTY>
<!ATTLIST T_ROOM
    ACTIVE CDATA #REQUIRED
    ID CDATA #REQUIRED
    NAME CDATA #REQUIRED
>

<!ELEMENT T_USER EMPTY>
<!ATTLIST T_USER
    ACTIVE CDATA #REQUIRED
    ID CDATA #REQUIRED
    NAME CDATA #REQUIRED
>